$myFont: Helvetica, sans-serif;
$fontSize: 16px;
$columnWidth: 20%;
$modalWidth: 60%;
$columnHeaderBg: #bfbfbf;
$borderColor: #EEE;
$errorColor: red;

$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$margin-4: 20px;
$margin-5: 25px;

$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700
);

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body { 
    font-family: $myFont;
    font-size: $fontSize;
    font-weight: map-get($font-weights, 'medium');
    width: 100%; 
}
.container {
  width: inherit;
  display: block;
  padding: 10px 20px;
  width: 96%;
}
.column {
  width: $columnWidth;
  border: 1px solid $borderColor;
  display: inline-block;
  margin: 10px 5px;
  vertical-align: top;
  border-radius: 5px 5px 0px 0px;

  @include breakpoint(xs) {
    width: 80%;
  }
  
  @include breakpoint(sm) {
    width: 46%;
  }

  @include breakpoint(md) {
    width: 32%;
  }
  
  @include breakpoint(lg) {
    width: 23%;
  }
  

  .header {
    background-color: $columnHeaderBg;
    font-weight: bold;
    padding: 15px 5px;
    background-color: $columnHeaderBg;
    border-radius: 5px 5px 0px 0px;

    .remove {
      float: right;
      cursor: pointer;
      font-weight: normal;
      color: red;
    }
  }
}

.card {
  .title {
    background: #EEE;
    padding: 10px 5px;
    margin-top: 2px;
  }
  .button-group {
    text-align:right;
    padding: 5px 0px;
  }
}

.form-group {
  display: block;
  margin: 20px 0px;

  & .label {
    display: block;
    margin: 5px 0px
  }
  & input,textarea {
    width: 100%;
  }
}

.text-{
  &right{ text-align: right;}
  &left{ text-align: left;}
  &center{ text-align: center;}
}
.pull-{
  &left{ float: left;}
  &right{ float: right;}
}
.clear{
  clear: both;
  &-left{ clear: left;}
  &-right{ clear: right;}
}

.mt-{
  &1 {margin-top: $margin-1;}
  &2 {margin-top: $margin-2;}
  &3 {margin-top: $margin-3;}
  &4 {margin-top: $margin-4;}
  &5 {margin-top: $margin-5;}
}
.mb-{
  &1 {margin-bottom: $margin-1;}
  &2 {margin-bottom: $margin-2;}
  &3 {margin-bottom: $margin-3;}
  &4 {margin-bottom: $margin-4;}
  &5 {margin-bottom: $margin-5;}
}
.ml- {
  &1 {margin-left: $margin-1;}
  &2 {margin-left: $margin-2;}
  &3 {margin-left: $margin-3;}
  &4 {margin-left: $margin-4;}
  &5 {margin-left: $margin-5;}
}
.mr- {
  &1 {margin-right: $margin-1;}
  &2 {margin-right: $margin-2;}
  &3 {margin-right: $margin-3;}
  &4 {margin-right: $margin-4;}
  &5 {margin-right: $margin-5;}
}

/* button style */
.btn {
  border: none;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;

  &:hover { cursor: pointer; font-weight: bold }
}
.btn-primary  {
  @extend .btn;
  color: #FFF;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-seconday  {
  @extend .btn;
  color: #FFF;
  background-color: #545b62;
  border-color: #545b62;
}
.btn-success  {
  @extend .btn;
  color: #FFF;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-info  {
  @extend .btn;
  color: #FFF;
  background-color: #117a8b;
  border-color: #10707f;
}
.btn-danger  {
  @extend .btn;
  color: #FFF;
  background-color: #dc3545;
  border-color: #dc3545;
}
.error {color: $errorColor}
.vm--modal {
  padding: 20px;
  height: auto !important;
}