body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.container {
  width: inherit;
  display: block;
  padding: 10px 20px;
  width: 96%;
}

.column {
  width: 20%;
  border: 1px solid #EEE;
  display: inline-block;
  margin: 10px 5px;
  vertical-align: top;
  border-radius: 5px 5px 0px 0px;
}
@media (max-width: 767px) {
  .column {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .column {
    width: 46%;
  }
}
@media (min-width: 992px) {
  .column {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .column {
    width: 23%;
  }
}
.column .header {
  background-color: #bfbfbf;
  font-weight: bold;
  padding: 15px 5px;
  background-color: #bfbfbf;
  border-radius: 5px 5px 0px 0px;
}
.column .header .remove {
  float: right;
  cursor: pointer;
  font-weight: normal;
  color: red;
}

.card .title {
  background: #EEE;
  padding: 10px 5px;
  margin-top: 2px;
}
.card .button-group {
  text-align: right;
  padding: 5px 0px;
}

.form-group {
  display: block;
  margin: 20px 0px;
}
.form-group .label {
  display: block;
  margin: 5px 0px;
}
.form-group input, .form-group textarea {
  width: 100%;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}

.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}

.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 25px;
}

.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 25px;
}

/* button style */
.btn, .btn-danger, .btn-info, .btn-success, .btn-seconday, .btn-primary {
  border: none;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
}
.btn:hover, .btn-danger:hover, .btn-info:hover, .btn-success:hover, .btn-seconday:hover, .btn-primary:hover {
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  color: #FFF;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-seconday {
  color: #FFF;
  background-color: #545b62;
  border-color: #545b62;
}

.btn-success {
  color: #FFF;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-info {
  color: #FFF;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-danger {
  color: #FFF;
  background-color: #dc3545;
  border-color: #dc3545;
}

.error {
  color: red;
}

.vm--modal {
  padding: 20px;
  height: auto !important;
}
